/* Customization of the theme */
:root {
  /* Fonts */
  --text-font: 'Hack', monospace;
  --header-font: 'Hack', monospace;
  --code-font: 'Hack', monospace;
}

:root.dark {
  --primary-color: #7897B3;
}

:root.light {
  --primary-color: #7897B3;
}
