# OSX
.DS_Store
.AppleDouble
.LSOverride

# SublimeText
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# Vim
*~
*.swp
*.swo

# Node
node_modules

# zola
public/
