{% extends "base.html" %}

{% block main_content %}
    {{ post_macros::home_page(section=section) }}
    <h3>Latest notes</h3>
    <main class="post-list">
        {% set section = get_section(path="notes/_index.md") %}
        {{ post_macros::list_posts(pages=section.pages | slice(end=3)) }}
    </main>

    <h3>Scrobbling 🎶</h3>

    <a href="https://libre.fm/user/cyberslas/" style="border-bottom: none"><img src="https://libre.fm/user/cyberslas/now" alt loading="lazy" style="width: 100%; max-width: 480px; height: auto;"></a>

    <p>Listening using <a href="https://cmus.github.io/">cmus</a> music player.</p>

    <hr />

    <footer>
      <i>Site created with <a href="https://www.getzola.org/">Zola</a> using <a href="https://github.com/not-matthias/apollo">apollo</a> theme</i>
    </footer>

{% endblock main_content %}
