{% extends "base.html" %}

{% block main_content %}
    {{ post_macros::home_page(section=section) }}
    <h3>Latest posts</h3>
    <main class="post-list">
        {% set section = get_section(path="posts/_index.md") %}
        {{ post_macros::list_posts(pages=section.pages | slice(end=3)) }}
    </main>

    <hr />

    <footer>
      <i>Site created with <a href="https://www.getzola.org/">Zola</a> using <a href="https://github.com/not-matthias/apollo">apollo</a> theme</i>
    </footer>

{% endblock main_content %}
